body {
  padding: 25px;
  background-color: rgb(143, 236, 179);
  color: black;
  font-size: 25px;
}

.dark-mode {
  background-color: black;
  color: white;
}
.A {
  text-align: center;
}
h1 {
  background-color: hsl(133, 89%, 65%);
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}
